/* здесь используйте глобальные переменные */

// Viewports
$mobile: 320px;
$tablet: 768px;
$desktop: 1440px;

// Colors
$base-white: #ffffff;
$base-black: #333333;

$bg-grey: #f8f8f8;

$slide-flat-white: #f3ebe1;
$slide-lavender-latte: #eae6fc;
$slide-espresso: #e2e2e2;

$accent-color: #7859cf;
$accent-color-lighter: #9070ec;
$accent-color-darker: #593cac;
$accent-secondary: #f0ebff;

$base-grey: #bdbdbd;
$grey-lighter: #e2e2e2;

// Fonts
$Montserrat: "Montserrat", "Arial", sans-serif;
