.contacts__title {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: $accent-color;
}

.contacts__address {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: $base-black;
}

.contacts__phone {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: $base-black;
}
