.features--container {
  padding: 50px 20px 60px;

  @media (min-width: $tablet) {
    padding: 60px 20px 100px;
  }

  @media (min-width: $desktop) {
    padding: 100px 40px 120px;
  }
}

.features__title {
  padding: 0;
  margin: 0;
  margin-bottom: 36px;

  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  color: $base-black;
  text-align: center;

  @media (min-width: $tablet) {
    margin-bottom: 60px;

    font-size: 42px;
    line-height: 64px;
  }

  @media (min-width: $desktop) {
    padding: 0 40px;
    margin-bottom: 80px;
  }
}

.features__list {
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  gap: 32px;

  @media (min-width: $tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.features__item {
  position: relative;

  @media (min-width: $tablet) {
    margin-bottom: 50px;
    width: 339px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 0;
    width: 317px;
  }
}

.features__item--speed::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translate(-50%, 0);
  display: block;
  width: 52;
  height: 56;
  background-image: url("../../images/features/speed.svg");
  background-repeat: no-repeat;
  background-size: contain;

  @media (min-width: $tablet) {
    top: 0;
    left: 30px;
  }

  @media (min-width: $desktop) {
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.features__item--fit::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translate(-50%, 0);
  display: block;
  width: 52;
  height: 56;
  background-image: url("../../images/features/fit.svg");
  background-repeat: no-repeat;
  background-size: contain;

  @media (min-width: $tablet) {
    top: 0;
    left: 30px;
  }

  @media (min-width: $desktop) {
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.features__item--energy::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translate(-50%, 0);
  display: block;
  width: 52;
  height: 56;
  background-image: url("../../images/features/energy.svg");
  background-repeat: no-repeat;
  background-size: contain;

  @media (min-width: $tablet) {
    top: 0;
    left: 30px;
  }

  @media (min-width: $desktop) {
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.features__item--eco::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translate(-50%, 0);
  display: block;
  width: 52;
  height: 56;
  background-image: url("../../images/features/eco.svg");
  background-repeat: no-repeat;
  background-size: contain;

  @media (min-width: $tablet) {
    top: 0;
    left: 30px;
  }

  @media (min-width: $desktop) {
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.features__headling {
  padding-top: 46px;
  margin: 0;
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  color: $base-black;
  text-align: center;

  @media (min-width: $tablet) {
    margin-bottom: 10px;
    padding-top: 0;
    padding-left: 72px;

    font-size: 24px;
    line-height: 36px;
    text-align: left;
  }

  @media (min-width: $desktop) {
    padding-top: 72px;
    padding-left: 0;

    text-align: center;
  }
}

.features__description {
  margin: 0;

  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: $base-black;
  text-align: center;

  @media (min-width: $tablet) {
    padding-left: 72px;

    font-size: 16px;
    line-height: 24px;
    text-align: left;
  }

  @media (min-width: $desktop) {
    padding-left: 0;

    text-align: center;
  }
}
