.product__title {
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  color: $base-black;

  @media (min-width: $tablet) {
    font-size: 24px;
    line-height: 36px;
  }
}

.product__description {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: $base-black;
}

.product__price {
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
  color: $base-black;
}
